@page "/fetchdata"
@using HADotNet.Core
@using HADotNet.Core.Clients
@inject HttpClient Http
@inject StatesClient statesClient;
@inject ServiceClient serviceClient;

<h1>Test page ³³³</h1>


<RadzenButton Text="Prze³¹cz œwiat³o" Click="@TestButtonClicked"></RadzenButton>
<p>Result:  @salonLightToggleResult</p>

@code {
    private string salonLightToggleResult;

    private async void TestButtonClicked()
    {
        Console.WriteLine("1");
        var result = await serviceClient.CallService("light", "toggle", new { entity_id = "light.salon_lights" });

        Console.WriteLine("2");
        Console.WriteLine(result);
        salonLightToggleResult = result?.FirstOrDefault()?.State;
    }
}


