@using HomeControl.Static
@inherits LayoutComponentBase

@if (!StaticConfiguration.Logged)
{
    <HomeControl.Pages.Login />
}
else
{
    <RadzenLayout class="rz-shadow-3" Style="grid-template-columns: auto 1fr auto; grid-template-areas: 'rz-header rz-header rz-header' 'rz-sidebar rz-body rz-right-sidebar'">
        <RadzenHeader>
            <div class="d-flex align-items-center">
                <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
                <RadzenLabel Text="Home Control" />
            </div>
        </RadzenHeader>
        <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
            <RadzenPanelMenu>
                <RadzenPanelMenuItem Text="Panel główny" Icon="home" Path="Home" />
                <RadzenPanelMenuItem Text="Encje" Icon="dashboard">
                    <RadzenPanelMenuItem Text="Światła" Icon="lightbulb" Path="fetchdata" />
                </RadzenPanelMenuItem>
            </RadzenPanelMenu>
        </RadzenSidebar>
        <RadzenBody>
            @Body
        </RadzenBody>
    </RadzenLayout>
}
@code {
    private bool collapseNavMenu = true;
    bool sidebar1Expanded = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}